# Gradle
.gradle/
build/

# Java
out/
*.class

# Logs / runtime
logs/
*.log
hs_err_pid*
replay_pid*

# IDE - IntelliJ
.idea/
*.iml

# IDE - VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Local server/runtime folders often used for Paper plugin dev
run/
server/
plugins/
